h1,label{
    font-weight: bold;
}

form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}


input{
    margin-top: 1rem; 
} 

input[type="checkbox"]{
    margin-left: 2rem;
}

select{
    margin-left: 1rem;
    margin-top: 1rem;
}


input[type="text"]{
   margin-left: 2.3rem;
   
}

input[type="number"]{
    margin-left: 2.1rem;
    width: 2rem;
    
 }


button{
    margin:3rem;
}

#item-level{
    margin-left:2.6rem;
}


/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: greenyellow;
    background-color: greenyellow;
  }
  /* Font color */
  input.mat-input-element {
    color: greenyellow;
    background-color: greenyellow;
  }